<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

        <!-- Start app main Content -->
        <div class="main-content">
            <section class="section">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="card-stats">
                                <div class="card-stats-title">Order Statistics -
                                    <div class="dropdown d-inline">
                                        <a class="font-weight-600 dropdown-toggle" data-toggle="dropdown" href="#"
                                           id="orders-month">August</a>
                                        <ul class="dropdown-menu dropdown-menu-sm">
                                            <li class="dropdown-title">Select Month</li>
                                            <li><a href="#" class="dropdown-item">January</a></li>
                                            <li><a href="#" class="dropdown-item">February</a></li>
                                            <li><a href="#" class="dropdown-item">March</a></li>
                                            <li><a href="#" class="dropdown-item">April</a></li>
                                            <li><a href="#" class="dropdown-item">May</a></li>
                                            <li><a href="#" class="dropdown-item">June</a></li>
                                            <li><a href="#" class="dropdown-item">July</a></li>
                                            <li><a href="#" class="dropdown-item active">August</a></li>
                                            <li><a href="#" class="dropdown-item">September</a></li>
                                            <li><a href="#" class="dropdown-item">October</a></li>
                                            <li><a href="#" class="dropdown-item">November</a></li>
                                            <li><a href="#" class="dropdown-item">December</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-stats-items">
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count">24</div>
                                        <div class="card-stats-item-label">Pending</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count">12</div>
                                        <div class="card-stats-item-label">Shipping</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count">23</div>
                                        <div class="card-stats-item-label">Completed</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fas fa-archive"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Total Orders</h4>
                                </div>
                                <div class="card-body">
                                    59
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="card-chart">
                                <canvas id="balance-chart" height="80"></canvas>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Balance</h4>
                                </div>
                                <div class="card-body">
                                    $187,13
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="card-chart">
                                <canvas id="sales-chart" height="80"></canvas>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fas fa-shopping-bag"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Sales</h4>
                                </div>
                                <div class="card-body">
                                    4,732
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-deck">
                    <div class="col-md-12 ">
                        <div class="card ">
                            <div class="card-body m-5 col-md-12 col-sm-12">
                                <h3 class="text-center">Add Room Details</h3>

                                <form th:action="@{/add_room}" th:object="${room}" method="post">
                                    <input type="hidden" th:field="*{rId}"/>

                                    <div>
                                        <label  class="col-sm-2  col-form-label">Title</label>
                                    </div>


                                    <div class="col-sm-11  col-md-11">
                                        <input type="text" class="form-control" th:field="*{rTitle}"/>
                                    </div>


                                    <div>
                                        <label  class="col-sm-4   col-form-label">Description</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rDescription}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Room Address</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rRoomAddress}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Available Room</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rAvailableRoom}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Gallery</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rGallery}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Room Price</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rRoomPrice}"/>
                                    </div>


                                    <div>
                                        <label  class="col-sm-4   col-form-label">Discount</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rDiscount}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Adult Number</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rAdultNumber}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Children Number</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rChildrenNumber}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Bed Number</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rBedNumber}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Room Size</label>
                                    </div>

                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rRoomSize}"/>
                                    </div>

                                    <div>
                                        <label  class="col-sm-4   col-form-label">Details</label>
                                    </div>


                                    <div class="col-sm-11 col-md-11">
                                        <input type="text" class="form-control" th:field="*{rDetails}"/>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Hotel</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example"
                                                    th:field="*{hotel}">
                                                <option th:each="h:${hotellist}" th:value="${h.hid}" th:text="${h.hname}">Select one</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Room type</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example"
                                                    th:field="*{roomtype}">
                                                <option th:each="d:${roomtypelist}" th:value="${d.rtid}" th:text="${d.rtName}">Select one</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Room Facilities</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" aria-label="Default select example"
                                                    th:field="*{roomFacilities}">
                                                <option th:each="d:${roomfaclist}" th:value="${d.rfId}" th:text="${d.rfName}">Select one</option>

                                            </select>
                                        </div>
                                    </div>


                                    <div class="row mb-3 text-center">
                                        <label class="col-sm-6 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <button th:if="${rId==null}"  type="submit" class="btn btn-primary ">Submit Form</button>
                                            <button th:if="${rId!=null}"  type="submit" class="btn btn-primary ">Update Form</button>
                                        </div>
                                    </div>


                                </form>

                            </div>


                            <div class="card-body   col">
                                <h3 class="text-center">All Room Details</h3>
                                <!-- Default Table -->
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">RoomAddress</th>
                                        <th scope="col">AvailableRoom</th>
                                        <th scope="col">Gallery</th>
                                        <th scope="col">RoomPrice</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">AdultNumber</th>
                                        <th scope="col">ChildrenNumber</th>
                                        <th scope="col">BedNumber</th>
                                        <th scope="col">RoomSize</th>
                                        <th scope="col">Availability</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Hotel</th>
                                        <th scope="col">Room type</th>
                                        <th scope="col">Room facilities</th>

                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rList : ${roomlist}">
                                        <td th:text="${rList.rId}"></td>
                                        <td th:text="${rList.rTitle}"></td>
                                        <td th:text="${rList.rDescription}"></td>
                                        <td th:text="${rList.rRoomAddress}"></td>
                                        <td th:text="${rList.rAvailableRoom}"></td>
                                        <td th:text="${rList.rGallery}"></td>
                                        <td th:text="${rList.rRoomPrice}"></td>
                                        <td th:text="${rList.rDiscount}"></td>
                                        <td th:text="${rList.rAdultNumber}"></td>
                                        <td th:text="${rList.rChildrenNumber}"></td>
                                        <td th:text="${rList.rBedNumber}"></td>
                                        <td th:text="${rList.rRoomSize}"></td>
                                        <td th:text="${rList.rAvailability}"></td>
                                        <td th:text="${rList.rDetails}"></td>
                                        <td th:text="${rList.hotel.hname}"></td>
                                        <td th:text="${rList.roomtype.rtName}"></td>
                                        <td th:text="${rList.roomFacilities.rfName}"></td>




                                        <td>
                                            <a th:href="@{'/delete_room/'+${rList.rId}}" class="btn btn-danger">Delete</a>
                                            <a th:href="@{'/update_room/'+${rList.rId}}" class="btn btn-success">Update</a>
                                        </td>
                                    </tr>



                                    </tbody>
                                </table>




                                <!-- End Default Table Example -->
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
        <!-- End app main Content -->


<div th:insert=" footer.html">...</div>